@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
    
/*reset*/
    ::selection {background: #fff; color: #111;}
/*    *::selection {background: transparent; color: inherit;}*/
    html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
    body {background: #111; color: #fff; font-size: 14px; font-family: Arial, Helvetica, sans-serif;font-weight: normal;}
    h1, h2, h3, h4, h5, h6, p, b, small, span {margin: 0; padding: 0;}
    ul, ol, li {list-style: none; margin: 0; padding: 0; vertical-align: middle;}
    a {text-decoration: none; cursor: pointer;}
    a, a:active, a:visited {color: inherit;}

    .mob {display: none;}
/*---/reset/---*/


/*HEADER*/
header h1 {
    width: 40px; height: 37px;
    position: fixed; top: 30px; left: 38px;
    z-index: 50;
}
header h1 a {display: block; width: 100%; height: 100%; margin: 0; line-height: 1; color: #eee;}
header h1 a img {display: block; height: 100%;}
/*---/header/---*/


/*NAV*/
#scroll {width: 4px; height: 200px; position: fixed; left: 40px; top: calc(50% - 135px); background-color: transparent; overflow: hidden; z-index: 49;}
.nav-scroll {width: 100%; height: 15px; background-color: rgba(255, 255, 255, 0.25); cursor: pointer; transition: all 0.5s}
.nav-scroll.top,
.nav-scroll.middle {margin-bottom: 10px;}
.nav-scroll.on {height: 150px; background-color: rgba(255, 255, 255, 0.7);}

#menu {position: fixed; left: 60px; top: calc(50% - 135px); z-index: 48;}
.nav-menu {font-family: 'arita-dotum-light'; font-size: 15px; color: #eee; height: 1em; margin-bottom: 10px; transition: all 0.5s;}
.nav-menu.on {font-family: 'arita-dotum-semibold'; font-weight: normal; height: 150px;}
.nav-menu > span {cursor: pointer;}
.nav-menu > span+span {margin-left: 8px;}
/*---/nav/---*/


/*CONTAINER*/
#container {width: 100%; height: 100%;}
section {display: block; width: 100%; height: auto; min-height: 100vh; overflow: hidden; margin: 0 auto; padding: 200px 0 150px;transition: all 1s; background-color: #1f1f1f; position: relative;}
section h3 {width: 100%; text-align: center; line-height: 1; font-size: 50px; font-family: 'arita-dotum-thin'; font-weight: bolder; display: none; position: absolute; top: 90px; opacity: 0; cursor: none; z-index: 45;}
section h3.on {display: block; opacity: 1;}
.cont {opacity: 0;}
.cont.on {animation: FadeIn 2s; opacity: 1;}
@keyframes FadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

section h3 > span {position: relative;}
section h3 .reveal {width: 110%; height: 100%; position: absolute; left: -5%; top: 0; background: #1f1f1f;
transform: skew(-20deg); /* Standard syntax */
-ms-transform: skew(-20deg); /* IE 9 */
}
section h3.on .reveal {transition: all 1.8s; animation: revealed 1s ease-in-out; width: 0%; left: 105%;}
@keyframes revealed {
    from { width: 110%; left: -5% }
    to { width: 0%; left: 105%; }
}

/* /--- .sec1 */
.sec1 .insideBox {width: 100%; height: 100%; margin: 0 auto; box-sizing: border-box; background: #141414; position: fixed; left: 0; top: 0; right: 0; bottom: 0; opacity: 0;}
.sec1 .insideBox.on {opacity: 1; z-index: 38;}
.sec1 .innerTxt {position: absolute; width: 450px; height: 220px; padding: 40px; left: calc(50vw - 225px); top: calc(50vh - 110px); box-sizing: border-box; border: 1px solid; animation: down1 1s cubic-bezier(.43,.75,.7,1.06); }
@keyframes down1 {
    0% {
        top: -250px;
        transform: rotate(-5deg);
    }
    100% {
        top: calc(50vh - 110px);
        transform: rotate(0deg);
    }
}
.sec1 .head1 {width: 100%; text-align: center; line-height: 1.05em; font-size: 30px; font-family: 'arita-dotum-semibold'; font-weight: normal; color: #fff; transition-delay: 0.4s; letter-spacing: 0.015em;}
.sec1 .head2 {width: 100%; text-align: center; line-height: 1.05em; font-size: 30px; font-family: 'arita-dotum-thin'; font-weight: normal; color: #fff; transition-delay: 0.4s; letter-spacing: 0.015em;}
.sec1 .cardContent {display: block; width: 100%; margin: 0; font-family: 'arita-dotum-medium'; font-weight: normal; font-size: 1rem; line-height: 1.65em; color: #dfdfdf; margin-top: 28px;}
.sec1 .cardContent .next {width: 100%; position: absolute; left: 0; bottom: 5px; font-size: 24px; text-align: center; animation: blinkIn 0.5s infinite alternate; animation-delay: 1s;}
@keyframes blinkIn {
    0% { opacity: 0.5; }
    100% { opacity: 0.1; }
}


/* /--- .sec2 */
.sec2 {z-index: 40;}
.sec2 .progress {width: 780px; margin: 15vh auto 30vh;}
.sec2 .progress .skills {width: 100%; margin-bottom: 12vh;}
.sec2 .progress .doThis {display: inline-block; border: 1px solid #888; margin-right: 1%; margin-bottom: 1%; color: #aaa; cursor: pointer; font-family: 'arita-dotum-medium'; font-size: 1vw; font-weight: normal; text-align: center; line-height: 3em; height:3em; width: auto; padding: 0 30px; float: left; border-radius: 1.5em;}
.sec2 .progress .doThis.show {color: #fff; border-color: #fff;}
.sec2 .progress .skills:after {content: ""; display: block; clear: both;}
    /*  선형 그래프  */
.sec2 .progress .linear-progress {width: 100%; margin-bottom: 6vh;}
.sec2 .progress .title {margin: 0; line-height: 1.5; font-size: 18px; font-family: 'arita-dotum-semibold'; font-weight: normal; display: inline-block;}
.sec2 .progress .info {margin: 0; line-height: 2.1; font-size: 14px; font-family: 'arita-dotum-medium'; font-weight: normal; float: right;}
.sec2 .progress .back {width: 100%; height: 6px; margin-top: 7px; background: #333; border-radius: 3px; overflow: hidden;}
.sec2 .progress .bar {width: 10px; height: 6px; background: #aaa;}
.sec2 .progress .shadow {width: 10px; opacity: .8;
transform: skew(15deg); /* Standard syntax */
-ms-transform: skew(15deg); /* IE 9 */
transform-origin: 0 0;
background: -webkit-linear-gradient(top,  rgba(136,136,163,0.5), rgba(16,16,16,0)); /* Chrome10-25,Safari5.1-6 */
background: -moz-linear-gradient(top,  rgba(136,136,163,0.5), rgba(16,16,16,0)); /* FF3.6-15 */
background: linear-gradient(to bottom,  rgba(136,136,163,0.5), rgba(16,16,16,0)); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* /--- .sec3 */
.sec3 {z-index: 40;}
.sec3 .ex {width: 100%; min-height: 100vh; height: auto; margin: 10vh auto; overflow: hidden; position: relative;}
.sec3 .ex .pages {display: block; width: 80%; height: 100%; margin: 0 auto; font-size: 0;}
.sec3 .ex .pages li {display: inline-block; width: 31%; height: auto; overflow: hidden; margin: 2.5% 1.06%; vertical-align: top; transition: all 0.5s, transform 0.2s ease-in-out; font-size: 0; border-radius: 20px; border: 1px solid #888; background: rgb(25,25,25);}

.sec3 .ex .pages li .innerCase {width: 100%; position: relative; overflow: hidden;}
.sec3 .ex .pages li .innerCase > a {display: block; width: 100%; height: 100%;}
.sec3 .ex .pages li .mainImg {width: 100%; opacity: 0.75; border-radius: 20px;}
.sec3 .ex .pages li .innerTxt {width: 100%; font-size: 1.4vw; text-align: center; position: absolute; top: 30%; text-shadow: 0px 1px 3px #111; opacity: 0; transition: transform 0.2s ease-in-out, opacity 0.1s ease-in;}
.sec3 .ex .pages li .innerTxt span {font-family: 'arita-dotum-bold';}
.sec3 .ex .pages li .innerTxt .urls {display: block; font-family: 'arita-dotum-medium'; font-size: 0.75em; margin: 5px auto; color: #fff; opacity: 0.8;}
.sec3 .ex .pages li .status {width: 100%; height: 8em; box-sizing: border-box; padding: 1em 2em; font-size: 1vw; overflow: hidden; position: relative;}
.sec3 .ex .pages li .status p {font-weight: normal; margin: 0 auto 0.5em; color: #e9e9e9;}
.sec3 .ex .pages li .status small {display: inline-block; opacity: 0.7; margin: 0 0.3em;}
.sec3 .ex .pages li .status p span,
.sec3 .ex .pages li .status .use {display: block; color: #888; font-size: 0.85em; margin-top: 0.5em;}
.sec3 .ex .pages li .status .link-icon {color: #888; font-size: 1.5em; line-height: 1; position: absolute;
right: 1em; bottom: 0.9em;}


/*---/container/---*/


/*FOOTER*/
#toggleBtn {display: none;}
footer {
    font-size: 24px; line-height: 1;
    width: 300px; height: 2em;
    box-sizing: border-box;
    position: fixed; bottom: 20px; left: calc(50vw - 150px);
    padding: 0.5em 0; text-align: center;
    overflow: hidden;
    transition: all 0.5s;
    border: 1px solid; border-radius: 1em;
    background-color: #1f1f1f; box-shadow: 0px 2px 7px 2px rgba(5,5,5,0.6);
    cursor: pointer; z-index: 111;
}
footer h5 {font-size: 1em; font-family: 'arita-dotum-thin'; font-weight: normal; letter-spacing: 2px; margin: 0;}
footer.clicked {height: 2.75em; border-radius: 1.375em;}
footer p {margin: 0 0 5px; font-size: 0.75em; font-family: 'arita-dotum-thin'; font-weight: normal; color: #fff; letter-spacing: 0.02em; }
footer a {color: #fff; font-family: 'arita-dotum-semibold'; word-break: keep-all; }
footer a:hover {text-decoration: underline;}
footer:after {content: ""; display: block; width: 100%; height: 0.39em; position: absolute;
left: 0; bottom: 0; background: #1f1f1f;}
/*---/footer/---*/



@media screen and (min-width:1201px) {
    
    /*body {
        -ms-overflow-style: none;  IE and Edge 
        scrollbar-width: none;  Firefox 
    }
    body::-webkit-scrollbar {
        display: none;  Chrome, Safari, Opera
    }*/
    
    /*container*/    
    /* /--- .sec3 */
    /* HOVER EFFECT */
    .sec3 .ex .pages li:hover .innerTxt {
        opacity: 1;
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
    }
    .sec3 .ex .pages li:hover .innerTxt .urls {opacity: 1;}
    .sec3 .ex .pages li:hover .status .link-icon {color: #e9e9e9;}
    .sec3 .ex .pages li:hover {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        background: rgb(31,31,35);
        box-shadow: 0px 2px 10px 7px rgba(5,5,5,0.85);
    /*    border: none;*/
    }
    .sec3 .ex .pages li:hover .mainImg {opacity: 0.6;}
}


@media screen and (max-width:1200px) and (min-width:768px) {
    /*HEADER*/
    header h1 {top: 26px; left: 32px;}
    
    /*NAV*/
    #scroll {display: none; visibility: hidden;}
    #menu {top: 36px; left: calc(100% - 200px);}
    .nav-menu {font-size: 28px; line-height: 1; height: 28px; display: inline-block; width: 50px; color: #eee;}
    .nav-menu span+span {display: none;}
    .nav-menu.on {height: 28px;}
    .nav-menu.on span {position: relative;}
    .nav-menu.on span:after {content: ""; display: block; animation: under-bar 0.5s; width: 16px; height: 4px; background-color: #eee; position: absolute; left: 0; top: 20px;}
    @keyframes under-bar {
        0% { width: 0; }
        100% { width: 16px; }
    }
    
    
    /*CONTAINER*/
    section h3 {font-size: 48px;}
    
    /* /--- .sec2 */
    .sec2 .progress {width: 70%;}
    .sec2 .progress .skills {margin-bottom: 16.2vh;}
    .sec2 .progress .doThis {width: auto; margin-right: 1.1%; font-size: 14.5px;}
    
    /* /--- .sec3 */
    .sec3 .ex {margin: 12vh auto;}
    .sec3 .ex .pages {width: 90%;}
    .sec3 .ex .pages li {width: 48%; margin: 3% 0.85%;}
    .sec3 .ex .pages li .innerTxt {font-size: 2vw; opacity: 1;}
    .sec3 .ex .pages li .status {font-size: 1.5vw;}
    
}


@media screen and (max-width:767px) {
    /*HEADER*/
    header h1 {top: 20px; left: 26px; height: 33px;}
    header h1 a {font-size: 34px;}
    
    /*NAV*/
    #scroll {display: none; visibility: hidden;}
    #menu {top: 20px; left: calc(100% - 150px);}
    .nav-menu {font-size: 28px; line-height: 1; height: 28px; display: inline-block; width: 48px; color: #eee;}
    .nav-menu:last-child {width: 15px;}
    .nav-menu span+span {display: none;}
    .nav-menu.on {height: 28px;}
    .nav-menu.on span {position: relative;}
    .nav-menu.on span:after {content: ""; display: block; animation: under-bar 0.5s; width: 16px; height: 4px; background-color: #eee; position: absolute; left: 0; top: 20px;}
    
    /*CONTAINER*/
    section h3 {font-size: 36px;}
    
    /* /--- .sec2 */
    .sec1 .innerTxt {width: 220px; height: 400px; padding: 60px 0; left: calc(50vw - 110px); top: calc(50vh - 200px); animation: down2 1s cubic-bezier(.43,.75,.7,1.06); }
    @keyframes down2 {
        0% {
            top: -250px;
            transform: rotate(-5deg);
        }
        100% {
            top: calc(50vh - 200px);
            transform: rotate(0deg);
        }
    }
    .sec1 .cardContent {margin: 50px auto; width: 80%;}
    .sec1 .cardContent p {margin-bottom: 30px;}
    .sec1 .cardContent p span.mob {color: #999;}
    .sec1 .cardContent .next {bottom: 15px;}
    .mob {display: block;}
    .hide {display: none;}
    
    /* /--- .sec2 */
    .sec2 .progress {width: 80%; margin-top: 3vh;}
    .sec2 .progress .skills {margin-bottom: 6vh;}
    .sec2 .progress .doThis {width: auto; margin-right: 1.2%; margin-bottom: 2%; font-size: 4vw;}
    
    /* /--- .sec3 */
    .sec3 .ex {margin: 3vh auto;}
    .sec3 .ex .pages {width: 90%;}
    .sec3 .ex .pages li {width: 100%; margin: 4% auto;}
    .sec3 .ex .pages li .innerTxt {top: 27%; font-size: 4vw; opacity: 1;}
    .sec3 .ex .pages li .status {font-size: 3.8vw;}
    
    /*FOOTER*/
    footer {height: 2.25em; width: 70vw; padding: 0.625em 0; left: 15vw; border-radius: 1.125em; font-size: 4.8vw;}
    footer.clicked {height: 3em; border-radius: 1.5em;}
    footer:after {height: 0.55em;}
}









